<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8">


<title>Servicios -Object-file  </title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" th:href="@{/css/servicio.css}">

<body>
	<header th:replace="layout/layout :: header"></header>
<h1 class="titulo">Servicios</h1>
	<div class="container">
		<img  src="ima/im1.jpg" alt="no se carga " >
		<img  src="ima/3-galeria-lobby.jpg" alt="no se carga " >
	
				</div>



	<footer th:replace="layout/layout :: footer">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>		
		<script th:src="@{/js/sweetalert.min.js}"></script>
	
	</footer>
</body>
</html>
				
				